/* Color Palette:
   #334139 -> Lighter Green    #1E2D24 -> Dark Green
   #E6E8E6 -> Off White        #FFE0B5 -> Light Tan
   #433F6B -> Indigo           */

body {
  margin: 0;
}

h1, h2, h3, h4, h5, th, td, p {
  font-family: "Book Antiqua",Palatino,"Palatino Linotype","Palatino LT STD",Georgia,serif;
}

h1 {
  color: #1E2D24;
  text-align: center;
  text-shadow: -2px 2px #888888;
  margin: 0;
  padding: 0.67em;
}

table {
  margin: auto;
  background-color: #E6E8E6;
  border-collapse: collapse;
  border: 1px solid #cbd0cb;
  box-shadow: 0 0 5px #cbd0cb;
}

tr:hover {
  background-color: #FFE0B5;
}

th {
  background-color: #433F6B;
  color: white;
  vertical-align: middle;
  text-align: center;
  padding: 10px;
}

td {
  border-bottom: 1px solid #cbd0cb;
  padding: 10px;
  margin: 10px;
}

a {
  color: black;
}

table.book_collection {
  width: 1000px;
}

table.add_book {
  margin: 25px auto;
}

table.add_book tr td {
  vertical-align: top;
}

table.book_collection tr th h4 {
  display: inline-block;
  margin: 0;
  text-shadow: -1px 1px #888888;
}

table.book_collection tr th.header_title, .book_collection tr th.header_author {
  width: 200px;
}

table.book_collection tr th.header_id, table.book_collection tr th.header_price {
  width: 75px;
}

table.book_collection tr td {
  text-align: center;
}

table.book_collection tr td.book_synopsis {
  text-align: left;
  max-width: 500px;
}

table.book_collection tr td.book_title {
  font-style: italic;
  text-align: left;
}

table.book_collection tr td.book_title a:hover {
  color: #57528b;
}

table.book_collection tr td.book_id {
  font-style: italic;
  text-align: center;
}

table.book_collection tr th a.down_arrow {
  color: white;
  text-decoration: none;
  padding: 0 0 0 5px;
  font-size: 10px;
  line-height: 18px;
  display: inline-block;
  vertical-align: middle;
}

table.book_collection tr th:hover a.down_arrow, 
table.book_collection tr th.header_id:hover h4,
table.book_collection tr th.header_title:hover h4,
table.book_collection tr th.header_author:hover h4,
table.book_collection tr th.header_price:hover h4 {
  color: #FFE0B5;
}

.nav_bar {
  background-color: #1E2D24;
  text-align: right;
  padding: 10px;
}

.nav_bar a {
  color: #E6E8E6;
  padding: 0 10px;
}

.nav_bar a:hover {
  color: #FFE0B5;
}

.fun_facts {
  width: 600px;
  margin: 10px auto;
  border: solid 2px #334139;
  padding: 10px 20px;
  border-radius: 10px;
}

.content {
  margin: auto;
  background-color: rgba(248, 247, 216, 0.75);
  width: 100%;
  height: 300%;
}

.black_overlay {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index:1001;
  -moz-opacity: 0.8;
  opacity:.80;
  filter: alpha(opacity=80);
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

table.book_details {
  box-shadow: none;
  margin: 0;
  width: 100%;
}

table.book_details > tbody > tr > td:first-child {
  vertical-align: top;
}

#popup {
  display: none;
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  border: 5px solid #1E2D24;
  border-radius: 5px;
  background-color: #E6E8E6;
  z-index:1002;
  overflow: auto;
}

.popup_header {
  background-color: #1E2D24;
  color: white;
  text-shadow: -1px 1px #888888;
  text-align: right;
}

.popup_nav {
  display: inline-block;
}

.popup_description {
  text-align: center;
}

.popup_description h2 {
  padding-bottom: 0.75em;
  margin: -10px 0 0 0;
}

.popup_nav a {
  color: white;
  text-decoration: none;
  padding: 0 10px;
  line-height: 30px;
}

.popup_nav:hover a {
  color: #FFE0B5;
}
