<!--Start Template FreeAuctionDesigns.com Copyright 2008 All Rights Reserved.-->
<table border="0" width="100%" cellspacing="0" cellpadding="0">
	<tr>
		<td bgcolor="#FFFFFF" valign="top">
		<div align="center">
			<table border="0" width="1000" cellspacing="0" cellpadding="0" bgcolor="#18558A">
				<tr>
					<td valign="top">
					<table border="0" width="100%" cellspacing="1" cellpadding="0">
						<tr>
							<td valign="top" bgcolor="#FFFFFF">
							<table border="0" width="100%" cellspacing="0" cellpadding="0">
								<tr>
									<td bgcolor="#539FE0" valign="top">
									<img border="0" src="http://www.wsiab.net/ebay/templates/computer_tech_server/top.gif"></td>
								</tr>
								<tr>
									<td bgcolor="#539FE0" valign="top">
									<table border="0" width="100%" cellspacing="5" cellpadding="5">
										<tr>
											<td valign="top">
											<p align="center">
											

<!--BODY--><style>.temp-content { width: 89%; }</style><center><div id="templatebody" class="bodycolumn">


<div id="templatetitle" class="tempwidget"><div class="temp-content"><center><div id="templatetitletxt"><!--TITLE-->Delete this and type your TITLE<!--TITLE--></div></center></div></div>

<div id="templateimage" class="tempwidget"><div class="temp-contenti"><div id="templateimages"><!--IMAGES--><p align="center"><IMG src="http://www.freeauctiondesigns.com/image1.gif"><br></p><!--IMAGES--></div></div></div>


<div id="templatedesc" class="tempwidget"><div class="temp-content"><center><img src="http://www.wsiab.net/ebay/templates/computer_tech_server/description.gif" border="0"></center><br><div id="templatedesctxt"><!--DESC-->Delete this and type your DESCRIPTION<!--DESC--></div></div></div>


<div id="templateship" class="tempwidget"><div class="temp-content"><center><img src="http://www.wsiab.net/ebay/templates/computer_tech_server/shipping.gif" border="0"></center><br><div id="templateshiptxt"><!--SHIP-->Delete this and type your SHIPPING INFO<!--SHIP--></div></div></div>


<div id="templatepay" class="tempwidget"><div class="temp-content"><center><img src="http://www.wsiab.net/ebay/templates/computer_tech_server/payment.gif" border="0"></center><br><div id="templatepaytxt"><!--PAY-->Delete this and type your PAYMENT INFO<!--PAY--></div></div></div>


<div id="templatefoot" class="tempwidget"><div class="temp-content"><center><img src="http://www.wsiab.net/ebay/templates/computer_tech_server/haveaniceday.gif" border="0"></center></div></div>


</div></center><!--BODY END-->
											
											
											
											</p>
											</td>
										</tr>
									</table>
									</td>
								</tr>
								<tr>
									<td bgcolor="#539FE0" valign="bottom">
									<img border="0" src="http://www.wsiab.net/ebay/templates/computer_tech_server/bottom.gif"></td>
								</tr>
							</table>
							</td>
						</tr>
					</table>
					</td>
				</tr>
			</table>
		</div>
		</td>
	</tr>
	<tr>
		<td valign="top">
		<table border="0" width="100%" cellspacing="5" cellpadding="5">
			<tr>
				<td valign="top">
				<p align="center">
				

<center><a href="https://freeauctiondesigns.com" target="_blank"><img src="https://freeauctiondesigns.com/adbutton.png" alt="Free eBay Templates, Image Hosting and eBay Listing Tools" border="0"></a></center>
				
				</td>
			</tr>
		</table>
		</td>
	</tr>
</table>
<!--End Template FreeAuctionDesigns.com Copyright 2008 All Rights Reserved.-->
